<% if (success!= "") { %>
    <div class="card border-left-primary shadow h-100 py-2 mb-3">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><%= success %></div>
              </div>
          </div>
      </div>
  </div>
  <% } %>
  <% if (error!= "") { %>
    <div class="card border-left-danger shadow h-100 py-2 mb-3">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-danger text-uppercase mb-1"><%= error %></div>
              </div>
          </div>
      </div>
  </div>
  <% } %>